.stApp{
    background:#F5F7FB;
    color:#1F2937;
}


section[data-testid="stSidebar"]{
    background:#FFFFFF;
    border-right:1px solid #E5E7EB;
    padding-top:15px;
}


h1{
    color:#2563EB;
    font-weight:700;
}

h2,h3{
    color:#1F2937;
}


.stChatMessage{
    background:#FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:16px;
    padding:16px;
    margin:12px 0;
    box-shadow:0 2px 8px rgba(0,0,0,.05);
}


div[data-testid="stChatInput"]{
    background:#FFFFFF;
    border-radius:12px;
    border:1px solid #D1D5DB;
}


.stButton>button{
    width:100%;
    border-radius:10px;
    border:none;
    background:#2563EB;
    color:white;
    font-weight:600;
    padding:10px;
    transition:.2s;
}

.stButton>button:hover{
    background:#1D4ED8;
    transform:translateY(-2px);
}

.stDownloadButton>button{
    width:100%;
    border-radius:10px;
    background:#16A34A;
    color:white;
    border:none;
    font-weight:600;
}

.stDownloadButton>button:hover{
    background:#15803D;
}


div[data-testid="stMetric"]{
    background:white;
    border-radius:12px;
    border:1px solid #E5E7EB;
    padding:15px;
}


input{
    border-radius:10px !important;
}



::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#C5CAD3;
    border-radius:10px;
}


@media (max-width:768px){

    h1{
        font-size:30px;
    }

    .stChatMessage{
        padding:12px;
        font-size:15px;
    }

}


#MainMenu{
    visibility:hidden;
}

footer{
    visibility:hidden;
}

header{
    visibility:hidden;
}